
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href=>
  <script src="../public/js/auth/register.js"></script>
</head>
<body>
  
  <form id="register-form">
    
    <label for="user-input-name">Entre com o nome</label> 
    <input type="text" id="user-input-name" name="user-input-name"> <br>
    <label for="user-input-name">Entre com o email</label> 
    <input type="text" id="user-input-email" name="user-input-email"> <br>
    <label for="user-input-name">Entre com a senha</label> 
    <input type="password" id="user-input-password" name="user-input-password">
    
    <button type="button" onclick="registerNewUser()"></button>
    
  </form>
  
  <button onclick="registerNewUser()">AAAAAAAAA</button>
  
</body>
</html>
